<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/OjasChopade/IdeaProjects/FrameworkLearn/FrameworkLearn/src/test/java/TestCases/LoginTestCase.java"><classes><class name="TestCases.LoginTestCase"><methods><include name="Login"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/Users/OjasChopade/IdeaProjects/FrameworkLearn/FrameworkLearn/src/test/java/TestCases/PlaceOrderTestCase.java"><classes><class name="TestCases.PlaceOrderTestCase"><methods><include name="PlaceOrder"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/Users/OjasChopade/IdeaProjects/FrameworkLearn/FrameworkLearn/src/test/java/TestCases/TakingScreenShotTestCase.java"><classes><class name="TestCases.TakingScreenShotTestCase"><methods><include name="Login"/></methods></class></classes></test></suite>